<h2 mat-dialog-title>Instance details</h2>
<mat-dialog-content class="mat-typography">

    <mat-grid-list cols="12" rowHeight="50px">
        <mat-grid-tile [colspan]="4" [rowspan]="10" style="border-style: dashed;border-width: 1px;">
            Area 1
        </mat-grid-tile>

        <mat-grid-tile [colspan]="8" [rowspan]="1" style="border-style: dashed;border-width: 1px;">
            Area 2
        </mat-grid-tile>

        <mat-grid-tile [colspan]="8" [rowspan]="1" style="border-style: dashed;border-width: 1px;">
            Area 3
        </mat-grid-tile>

        <mat-grid-tile [colspan]="8" [rowspan]="4" style="border-style: dashed;border-width: 1px;">
            Area 4
        </mat-grid-tile>

        <mat-grid-tile [colspan]="8" [rowspan]="4" style="border-style: dashed;border-width: 1px;">
            Area 5
        </mat-grid-tile>

    </mat-grid-list>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
