<h2 mat-dialog-title>Model details - {{data.model.name}}</h2>
<mat-dialog-content class="mat-typography">
    <mat-grid-list cols="12" rowHeight="100px">
        <mat-grid-tile [colspan]="6" [rowspan]="3">
            <img src="{{data.model.imgPath}}" style="max-width: 200px; object-fit:cover;">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6" [rowspan]="3"><p>{{data.model.description}}</p></mat-grid-tile>

    </mat-grid-list>

    <mat-accordion>
        <div *ngFor="let child of data.childs">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                <mat-panel-title><b>{{child.name}}</b></mat-panel-title>
                <mat-panel-description> ns={{child.typeDefinition.namespace}};i={{child.typeDefinition.value}} </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let item of child.children">
                    <p>🏷️ ns={{item.namespace}};i={{item.value}}</p>
                </div>
            </mat-expansion-panel>
        </div>
    </mat-accordion>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>